/*
Fonts, using in website:
font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Josefin Sans', sans-serif;
;
*/

/*-----------------CSS reset-------------------*/
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
body { margin: 0; border: 0; padding: 0; outline: 0; vertical-align: baseline; background: transparent; font: normal 400 16px/24px 'Open Sans', sans-serif; color: #424242;-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}
input, button, textarea, select { -webkit-appearance: none; outline: none;}
h1, h2, h3, h4, h5, h6 { font-weight:normal;}
ol, ul, li { list-style: none; margin: 0; padding: 0;}
img { max-width: 100%; height: auto; border: none; outline: none;}
a, a:link, a:visited { color: #0264a9; font-weight: normal; text-decoration: none; outline: none;}
/*----------------- End CSS reset-------------------*/

/*p { margin: 48px 0px;}*/
h2 { margin: 0; font: 41px 'Roboto', sans-serif; color: #424242;}
h4 { font: 22px 'Open Sans', sans-serif; color: #424242;}
@media (max-width: 800px) {
	h2 { font-size: 28px; }
	h4 { font-size: 20px; }
}

body { overflow-x: hidden; max-width: 1600px; margin: 0 auto;}
select::-ms-expand { display: none; } /* remove arrow in IE10+ */
textarea { overflow: auto; } /* to remove scroll bar in FF */

.container { position: relative; width: 100%; /*max-width: 1900px;*/ margin: 0 auto;}
.container_inner { width: 100%; max-width: /*1088px*/1100px; margin: 0 auto; padding: 0 6px;}
.container_inner:after { content: ' '; display: block; clear: both;}
.container_nav {
	background: rgba(0,93,19,1.0);
	background: -moz-linear-gradient(top, rgba(0,93,19,0.76) 0%, rgba(0,93,19,1) 100%);
	background: -webkit-linear-gradient(top, rgba(0,93,19,0.76) 0%, rgba(0,93,19,1) 100%);
	background: -o-linear-gradient(top, rgba(0,93,19,0.76) 0%, rgba(0,93,19,1) 100%);
	background: linear-gradient(to bottom, rgba(0,93,19,0.76) 0%, rgba(0,93,19,1) 100%);
}
/*---------------------Preloader----------------------------------*/
#loader-wrapper { position: fixed; top: 0;left: 0; width: 100%; height: 100%; z-index: 9999; overflow: hidden; background-color: /*#485b72*/#AAAFAB;}
.no-js #loader-wrapper { display: none;}
#loader { display: block; position: relative; left: 50%; top: 50%; width: 120px; height: 120px; margin: -75px 0 0 -75px; border-radius: 50%; border: 3px solid transparent; border-top-color: /*#3077e8*/#FFFFFF; -webkit-animation: spin 1.7s linear infinite; animation: spin 1.7s linear infinite; z-index: 11;}
#loader:before { content: " "; position: absolute; top: 5px; left: 5px; right: 5px; bottom: 5px; border-radius: 50%; border: 3px solid transparent; border-top-color: /*#e65c00*/#FFFFFF; -webkit-animation: spin-reverse .6s linear infinite; animation: spin-reverse .6s linear infinite;}
#loader:after { content: " "; position: absolute; top: 15px; left: 15px; right: 15px; bottom: 15px; border-radius: 50%; border: 3px solid transparent; border-top-color: #fff; -webkit-animation: spin 1s linear infinite; animation: spin 1s linear infinite;}
@-webkit-keyframes spin { 0% { -webkit-transform: rotate(0deg);} 100% { -webkit-transform: rotate(360deg);}}
@keyframes spin { 0% { -webkit-transform: rotate(0deg); -ms-transform: rotate(0deg); transform: rotate(0deg);} 100% { -webkit-transform: rotate(360deg); -ms-transform: rotate(360deg); transform: rotate(360deg);}}
@-webkit-keyframes spin-reverse { 0% { -webkit-transform: rotate(0deg);} 100% { -webkit-transform: rotate(-360deg);}}
@keyframes spin-reverse { 0% { -webkit-transform: rotate(0deg); -ms-transform: rotate(0deg); transform: rotate(0deg);} 100% { -webkit-transform: rotate(-360deg); -ms-transform: rotate(-360deg); transform: rotate(-360deg);}}
/*-------------------End Preloader--------------------------------*/

/*-----------------Header section-------------------*/
header.main_header a.logo { float: left; margin: 16px 0 12px;}
header.main_header .container_nav a.logo { display: none; float: left; margin: 0;}
header.main_header .container_nav a.logo h2 { float: left; margin: 0; padding-left: 16px; font: 400 16px/52px 'Josefin Sans', sans-serif; color: #fff; text-transform: uppercase;}
header.main_header .container_nav a.logo img { padding-top: 3px}
header.main_header .container_nav a.logo_mobile { display: none; margin: 4px 0 0 12px;}
header.main_header .container_nav a.logo_mobile img { height: 54px; }
header.main_header a.logo img { float: left;}
header.main_header a.logo p, 
header a.logo h1 { float: left; margin: 0; padding-left: 16px; line-height: 63px; font: 400 24px/63px 'Josefin Sans', sans-serif; color: #003C0C; text-transform: uppercase;}
header.main_header .social { float: right; width: 40%;}
header.main_header .social p { margin: 0; font-size: 14px; text-align: right;}
header.main_header .social p i { padding-right: 6px;}
header.main_header .social select { float: right; width: 80px; margin-top: 12px; padding-left: 15px; border: 0; font: 16px/34px 'Open Sans', sans-serif; color: #424242; outline:none; background: #FBFBFB url(../img/select_arrow.png) 57px center no-repeat; -webkit-appearance: none; -moz-appearance: none; appearance: none;}
header.main_header .social ul { float: right; margin: 16px 30px 0 0;}
header.main_header .social ul li { display: inline-block; margin-right: 12px;}
header.main_header .social ul li:last-child { margin-right: 0;}
header.main_header .social ul li a { color: #424242;}
header.main_header .search_form { float: right; margin: 11px;}
header.main_header .search_form:after { content: ' '; display: block; clear: both;}
header.main_header .search_form input, header .search_form button { float: left; display: block; height: 28px; border: none;}
header.main_header .search_form input { width: 180px; padding: 4px 0 4px 14px;}
header.main_header .search_form button { background: #fff;}
header.main_header .search_form button>i { color: #424242; font-size: 16px;}
header.main_header button.search_switch { display: none; background: #fff;}
header.main_header button.search_switch>i { color: #424242; font-size: 18px;}
header.main_header .search_form input::-webkit-input-placeholder { font: 14px 'Open Sans', sans-serif; color: #424242; opacity: 1; -webkit-transition: opacity 0.3s ease; transition: opacity 0.3s ease;}
header.main_header .search_form input::-moz-placeholder { font: 14px 'Open Sans', sans-serif; color: #424242; opacity: 1; -moz-transition: opacity 0.3s ease; transition: opacity 0.3s ease;}
header.main_header .search_form input:-moz-placeholder { font: 14px 'Open Sans', sans-serif; color: #424242; opacity: 1; -moz-transition: opacity 0.3s ease; transition: opacity 0.3s ease;}
header.main_header .search_form input:-ms-input-placeholder { font: 14px 'Open Sans', sans-serif; color: #424242; opacity: 1; -ms-transition: opacity 0.3s ease; transition: opacity 0.3s ease;}
header.main_header .search_form input:focus::-webkit-input-placeholder { opacity: 0; -webkit-transition: opacity 0.3s ease; transition: opacity 0.3s ease;}
header.main_header .search_form input:focus::-moz-placeholder { opacity: 0; -moz-transition: opacity 0.3s ease; transition: opacity 0.3s ease;}
header.main_header .search_form input:focus:-moz-placeholder { opacity: 0; -moz-transition: opacity 0.3s ease; transition: opacity 0.3s ease;}
header.main_header .search_form input:focus:-ms-input-placeholder { opacity: 0; -ms-transition: opacity 0.3s ease; transition: opacity 0.3s ease;}
header.main_header #main_menu {}
header.main_header #main_menu ul {}
header.main_header #main_menu ul:after { content: ' '; display: block; clear: both;}
header.main_header #main_menu ul li { float: left; display: inline-block; position: relative; height: 50px;}
header.main_header #main_menu ul li:after { content: ' '; display: block; position: absolute; top: 0; right: 0; height: 50px; border-left: 1px solid #014910; border-left-style: ridge; } 
header.main_header #main_menu ul li:last-child:after { border-left: none;}
header.main_header #main_menu ul li a { padding: 15px 30px 16px; font-size: 14px; color: #fff;  line-height: 50px; text-transform: uppercase; -webkit-transition: background 0.3s ease; -moz-transition: background 0.3s ease; -o-transition: background 0.3s ease; transition: background 0.3s ease;}
header.main_header #main_menu ul li a:hover,
header.main_header #main_menu ul li a:active { background: #045316; -webkit-transition: background 0.3s ease; -moz-transition: background 0.3s ease; -o-transition: background 0.3s ease; transition: background 0.3s ease;}
header.main_header.fixed .header_top,
header.main_header.fixed .search_form { display: none;}
header.main_header.fixed .container_nav a.logo { display: block;}
header.main_header.fixed #main_menu ul { float: right;}
header.main_header.fixed .container_nav { position: fixed; top: 0; z-index: 10; background-color: #fff;}
header.main_header.fixed.fixed_in .container_nav { -webkit-animation-name: fadeInDown; animation-name: fadeInDown; -webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-fill-mode: both; animation-fill-mode: both;}
@-webkit-keyframes fadeInDown { from { opacity: 0; -webkit-transform: translate3d(0, -100%, 0); transform: translate3d(0, -100%, 0);} to { opacity: 1; -webkit-transform: none; transform: none;}}
@keyframes fadeInDown { from { opacity: 0; -webkit-transform: translate3d(0, -100%, 0); transform: translate3d(0, -100%, 0);} to { opacity: 1; -webkit-transform: none; transform: none;}}
header.main_header.fixed.fixed_out .container_nav { -webkit-animation-name: fadeOutUp; animation-name: fadeOutUp; -webkit-animation-duration: 2s; animation-duration: 2s; -webkit-animation-fill-mode: both; animation-fill-mode: both;}
@-webkit-keyframes fadeOutUp { from { opacity: 1;} to { opacity: 0; -webkit-transform: translate3d(0, -100%, 0); transform: translate3d(0, -100%, 0);}}
@keyframes fadeOutUp { from { opacity: 1;} to { opacity: 0; -webkit-transform: translate3d(0, -100%, 0); transform: translate3d(0, -100%, 0);}}

.nav-opener { display: none; position: absolute; top: 23px; right: 15px; width: 18px; height: 15px; border-radius: 0px; background: transparent;}
.nav-opener:before, .nav-opener:after, .nav-opener span { position: absolute; top: 0; left: 0; right: 0; height: 3px; border-radius: 0px; background: #181818; transition: all 0.3s linear;}
.nav-opener:before { content:''; top: 6px;}
.nav-opener:after { content:''; top: 12px;}
.nav-opener:hover { opacity: 0.9;}
.nav-opener.nav-active:before { top: 6px; left: 0; right: 0; -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); -webkit-transform: rotate(45deg); transform: rotate(45deg);}
.nav-opener.nav-active:after { top: 6px; left: 0; right: 0; -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg); -webkit-transform: rotate(-45deg); transform: rotate(-45deg);}
.nav-opener.nav-active span { opacity: 0;}
@media (max-width: 1199px) {
	header.main_header .social p { display: none;}
	header.main_header .social select { margin-top: 36px;}
	header.main_header .social ul { margin-top: 40px;}
}
@media (max-width: 992px) {
	header.main_header .container_nav a.logo h2 { font-size: 14px;}
}
@media (max-width: 900px) {
	header.main_header .search_form input { width: 110px;}
	header.main_header .container_nav a.logo h2 { display: none;}
}
@media (max-width: 800px){
	.container_inner { padding: 0;}
  	.nav-opener { display: block;}
  	header.main_header a.logo img { display: none;}
  	header.main_header .header_top a.logo { display: none;}
  	header.main_header .header_top .social p { display: none;}
  	header.main_header .header_top .social ul { display: none;}
  	header.main_header .header_top .social select { position: absolute; top: 15px; right: 50px; margin-top: 0; z-index: 1;}
  	header.main_header .container_nav { background: #fff;}
  	header.main_header .container_nav a.logo_mobile { display: inline-block;} 	
  	header.main_header .search_form { margin: 17px 170px 17px 0; margin-right: 170px;  border: 0px solid #ddd;}
  	header.main_header .search_form input { width: 0;} 
  	header.main_header .search_form button { display: none;}
  	header.main_header.fixed .search_form { display: block;}
  	header.main_header button.search_switch { display: block; position: absolute; top: 22px; right: 140px; border: transparent;}
  	header.main_header #main_menu ul { display: none;}
  	header.main_header #main_menu ul li { float: none; display: list-item; height: 64px; border-top: 1px solid #D5D5D5;}
  	header.main_header #main_menu ul li:last-child { border-bottom: 1px solid #D5D5D5;}
  	header.main_header #main_menu ul li:after { display: none;}
  	header.main_header #main_menu ul li a { display: block; padding: 0 0 0 12px; color: #424242; line-height: 64px;}
  	header.main_header #main_menu ul li a:hover,
  	header.main_header #main_menu ul li a:active { background: transparent;}
  	header.main_header.fixed #main_menu ul { float: none;} 	
}
/*-----------------End Header section-------------------*/

/*-----------------Main Image section-------------------*/
.main_image { position: relative; /*min-height: 220px;*/ }
.main_image img.main_img { position: absolute; top: 0; left: 0; width: 100%; height: auto;}
.main_image .image_text { float: right; position: relative; /*max-width: 567px;*/ margin: 100px 0 124px;
	background: rgba(10,102,29,1.0);
	background: -moz-linear-gradient(left, rgba(10,102,29,0.52) 0%, rgba(10,102,29,0.86) 25%, rgba(10,102,29,1) 50%, rgba(10,102,29,1) 100%);
	background: -webkit-linear-gradient(left, rgba(10,102,29,0.52) 0%, rgba(10,102,28,0.86) 25%, rgba(10,102,29,1) 50%, rgba(10,102,29,1) 100%);
	background: -o-linear-gradient(left, rgba(10,102,29,0.52) 0%, rgba(10,102,28,0.86) 25%, rgba(10,102,29,1) 50%, rgba(10,102,29,1) 100%);
	background: linear-gradient(to right, rgba(10,102,29,0.52) 0%, rgba(10,102,29,0.86) 25%, rgba(10,102,29,1) 50%, rgba(10,102,29,1) 100%);
}
.main_image .image_text:after { content: ' '; display: block; clear: both;}
.main_image .image_text p { margin: 0; padding: 32px 42px; font: 42px/50px 'Roboto', sans-serif; color: #fff; background: url(../img/main_image_backrico.png) right bottom no-repeat;}
@media (max-width: 800px){
	.main_image { background-attachment: inherit;}
	.main_image .image_text { margin: 40px 0; }
	.main_image .image_text p { padding: 22px 32px; font-size: 28px; line-height: 32px; }
}
/*-----------------End Main Image section-------------------*/

/*-----------------About Us section-------------------*/
.about_us { position: relative; padding: 20px 0 64px;}
.about_us .container_inner { padding-top: 20px; background: #fff; }
.about_us p { margin-bottom: 24px; text-align: center; font-size: 20px; line-height: 32px;}
.about_us h2 { margin-bottom: 32px; text-align: center; line-height: 1;}
.about_us h4 { margin: 74px 0 15px; font-size: 24px; font-weight: 700; text-align: center;}
.about_us h4:before { content: ' '; display: block; position: absolute; left: 50%; width: 14px; height: 14px; margin-left: -7px; margin-top: -44px; border-radius: 50%; background-color: #C6C6C6;}
.about_us h4:after { content: ' '; display: block; position: absolute; left: 50%; width: 160px; height: 1px; margin-left: -80px; margin-top: -71px;background-color: #C6C6C6;}
.about_us button { display: block; margin: 0 auto; padding: 10px 20px; border: 0; font: 500 24px/28px 'Open Sans', sans-serif; background-color: transparent; -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease;}
.about_us button:hover,
.about_us button:active { text-decoration: underline; -webkit-transform: scale(1.2); -ms-transform: scale(1.2); transform: scale(1.2); cursor: pointer; -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease;}
.about_us button + div { display: none; }
/*.about_us button + div p:first-child { margin-top: 0; }*/
.about_us button.inactive { display: none; }
.about_us .img {}
.about_us .img img { width:24%; padding: 22px 42px; vertical-align: middle; text-align: center;}
@media (max-width: 800px){
	.about_us { padding: 0px 12px 54px;}
	.about_us .container_inner { padding: 20px 20px 0; }
	.about_us p, .about_us h2, .about_us h4 { padding: 0;}
	.about_us .img img { width: 36%; margin: 0 6%; padding: 12px 10px; text-align: justify;}
}
/*-----------------End About Us section-------------------*/

/*-----------------What We Offer section-------------------*/
#what_we_offer { padding: 91px 0 26px; text-align: center; background: #FAFAFA;}
#what_we_offer .container_inner { position: relative; padding: 0; overflow: hidden;}
#what_we_offer .container_inner.container_inner_last { min-height: 720px;}
#what_we_offer h2 { margin-bottom: 52px; line-height: 1;}
#what_we_offer .offer_item { float: left; width: 30%; margin-top: 3px; margin-bottom: 38px; padding: 40px 0; -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease;}
#what_we_offer .offer_item:hover { cursor: pointer; -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.8); -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.8); box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.8); -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease;}
#what_we_offer .offer_item h4 { margin: 30px 0 0 0; font-size: 26px;}
#what_we_offer .offer_item p { margin-top: 8px; padding: 0 18px;}
.left-5 { margin-left: 5%;}
.left-10 { margin-left: 10%;}
.left-15 { margin-left: 15%;}
#what_we_offer .offer_item_inner { position: absolute; /*top: 60px;*/ left: 100%; width: 100%; max-width: 1100px; min-height: 830px; text-align: left; background: #FAFAFA;}
#what_we_offer .offer_item_inner .breadcrumb p { font-size: 22px;}
#what_we_offer .offer_item_inner .breadcrumb p a { position: relative; margin-left: 1px; margin-right: 10px; padding-left: 7px; font-size: 12px; color: #0D681F; }
#what_we_offer .offer_item_inner .breadcrumb p a i { position: absolute; left: 0; top: 3px; -moz-transform: scaleX(1.5); -ms-transform: scaleX(1.5); -webkit-transform: scaleX(1.5); -o-transform: scaleX(1.5); transform: scaleX(1.5);}
#what_we_offer .offer_item_inner .tab_list ul { border-top: 1px solid #D5D5D5; border-bottom: 1px solid #D5D5D5;}
#what_we_offer .offer_item_inner .tab_list ul:after { content: ' '; display: block; clear: both;}
#what_we_offer .offer_item_inner .tab_list ul li { float: left; height: 50px; text-align: center;}
#what_we_offer .offer_item_inner .tab_list ul li a { display: block; position: relative; padding: 13px 20px; border-left: 1px solid #E6E6E6; border-right: 1px solid transparent; color: #424242; text-transform: uppercase;}
#what_we_offer .offer_item_inner .tab_list ul li:first-child a { border-left: 1px solid transparent;}
#what_we_offer .offer_item_inner .tab_list ul li.active a,
#what_we_offer .offer_item_inner .tab_list ul li a:hover { background: #F5F5F5;}
#what_we_offer .offer_item_inner .tab_list ul li.active a:after,
#what_we_offer .offer_item_inner .tab_list ul li a:hover:after { content: ' '; display: block; position: absolute; left: 50%; top: 100%; margin-top:-1px; margin-left: -7px; width: 0; height: 0; border-style: solid; border-width: 8px 7px 0 7px; border-color: #F5F5F5 transparent transparent transparent;}
#what_we_offer .offer_item_inner .tab_list ul li.active a:before,
#what_we_offer .offer_item_inner .tab_list ul li a:hover:before { content: ' '; display: block; position: absolute; left: 50%; top: 100%; margin-left: -7px; width: 0; height: 0; border-style: solid; border-width: 8px 7px 0 7px; border-color: #D5D5D5 transparent transparent transparent;}
#what_we_offer .offer_item_inner .tab_panels>div { display: none; padding-top: 18px;}
#what_we_offer .offer_item_inner .tab_panels>div:first-of-type { display: block;}
#what_we_offer .offer_item_inner .tab_panels>div:after { content: ' '; display: block; clear: both;}
#what_we_offer .offer_item_inner .tab_panels .slider_item { float: left; position: relative;/*width: 100%;*/padding: 0 5px;}
#what_we_offer .offer_item_inner .tab_panels .slider_item p { padding-right: 10px; color: #424242;}
#what_we_offer .offer_item_inner .tab_panels .slider_item ul li:before { padding-right: 12px; content: "\f105"; font: 14px FontAwesome; color: #0D681F;}
#what_we_offer .offer_item_inner .tab_panels .slider_item ul {}
#what_we_offer .offer_item_inner .tab_panels .slider_item ul li { color: #0D681F;}
#what_we_offer .offer_item_inner .tab_panels .slider_air,
#what_we_offer .offer_item_inner .tab_panels .slider_hel,
#what_we_offer .offer_item_inner .tab_panels .slider_equip,
#what_we_offer .offer_item_inner .tab_panels .slider_sup,
#what_we_offer .offer_item_inner .tab_panels .slider_prod { position: relative; width: 100%; overflow: hidden;}
.prev { position: absolute; top: 50%; left: 0; width: 50px; height: 50px; margin-top: -25px; border-radius: 50%; cursor: pointer; background-color: rgba(0, 0, 0, 0.35); -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease;}
.next { position: absolute; top: 50%; right: 0; width: 50px; height: 50px; margin-top: -25px; border-radius: 50%; cursor: pointer; background-color: rgba(0, 0, 0, 0.35); -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease;}
.prev img,
.next img { padding: 16px 20px 17px; border-radius: 50%;}
.prev:hover,
.next:hover { background-color: rgba(0, 0, 0, 0.5); -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease;}
#what_we_offer .sale_form { float: left; width: 50%; margin-top: 27px; padding-left: 28px;}
#what_we_offer .sale_form form label { font-size: 20px; }
#what_we_offer .sale_form form select,
#what_we_offer .sale_form form input,
#what_we_offer .sale_form form textarea { width: 100%; margin: 6px 0 13px; padding: 11px 14px; border: 1px solid #CFCFCF; font: 20px/24px 'Open Sans', sans-serif; color: #424242;}
#what_we_offer .sale_form form textarea { height: 160px; resize: none;}
#what_we_offer .sale_form form select { background: #FFFFFF url(../img/select_arrow.png) 95% center no-repeat; -moz-appearance: none;}
#what_we_offer .sale_form form select:focus,
#what_we_offer .sale_form form input:focus,
#what_we_offer .sale_form form textarea:focus { -webkit-box-shadow: 0px 0px 1px 1px #CFCFCF; -moz-box-shadow: 0px 0px 1px 1px #CFCFCF; box-shadow: 0px 0px 1px 1px #CFCFCF;}
#what_we_offer .sale_form form input[type="submit"] { font-size: 22px; border: 1px solid #0D681F; color: #FFFFFF; background: #0D681F; -webkit-transition: background 0.3s ease; -moz-transition: background 0.3s ease; -o-transition: background 0.3s ease; transition: background 0.3s ease;}
#what_we_offer .sale_form form input[type="submit"]:hover, 
#what_we_offer .sale_form form input[type="submit"]:active { background: #045316; -webkit-transition: background 0.3s ease; -moz-transition: background 0.3s ease; -o-transition: background 0.3s ease; transition: background 0.3s ease;}
#what_we_offer .sale_form form input::-webkit-input-placeholder,
#what_we_offer .sale_form form textarea::-webkit-input-placeholder { color: rgba(66, 66, 66, 0.7); -webkit-transition: color 0.3s ease; transition: color 0.3s ease;}
#what_we_offer .sale_form form input::-moz-placeholder,
#what_we_offer .sale_form form textarea::-moz-placeholder { color: rgba(66, 66, 66, 0.7); -moz-transition: color 0.3s ease; transition: color 0.3s ease;}
#what_we_offer .sale_form form input:-moz-placeholder,
#what_we_offer .sale_form form textarea:-moz-placeholder { color: rgba(66, 66, 66, 0.7); -moz-transition: color 0.3s ease; transition: color 0.3s ease;}
#what_we_offer .sale_form form input:-ms-input-placeholder,
#what_we_offer .sale_form form textarea:-ms-input-placeholder { color: rgba(66, 66, 66, 0.7); -ms-transition: color 0.3s ease; transition: color 0.3s ease;}
#what_we_offer .sale_form form input:focus::-webkit-input-placeholder,
#what_we_offer .sale_form form textarea:focus::-webkit-input-placeholder { color: rgba(66, 66, 66, 0); -webkit-transition: color 0.3s ease; transition: color 0.3s ease;}
#what_we_offer .sale_form form input:focus::-moz-placeholder,
#what_we_offer .sale_form form textarea:focus::-moz-placeholder { color: rgba(66, 66, 66, 0); -moz-transition: color 0.3s ease; transition: color 0.3s ease;}
#what_we_offer .sale_form form input:focus:-moz-placeholder,
#what_we_offer .sale_form form textarea:focus:-moz-placeholder { color: rgba(66, 66, 66, 0); -moz-transition: color 0.3s ease; transition: color 0.3s ease;}
#what_we_offer .sale_form form input:focus:-ms-input-placeholder,
#what_we_offer .sale_form form textarea:focus:-ms-input-placeholder { color: rgba(66, 66, 66, 0); -ms-transition: color 0.3s ease; transition: color 0.3s ease;}
#what_we_offer .sale_form select.error,
#what_we_offer .sale_form input.error,
#what_we_offer .sale_form textarea.error { border: 1px solid red;}

@media (max-width: 800px){
	#what_we_offer { padding: 58px 12px 26px;}
	#what_we_offer .container_inner { padding: 0 20px; }
	#what_we_offer .container_inner.container_inner_last { min-height: none;}
	#what_we_offer .offer_item { float: none; width: 100%; margin-bottom: 28px; padding-bottom: 10px; text-align: left;}
	#what_we_offer .offer_item:after { content: ' '; display: block; clear: both;}
	#what_we_offer .offer_item img { /*float: left;*/ margin-left: 20px; vertical-align: middle;}
	#what_we_offer .offer_item h4, #what_we_offer .offer_item p { padding-left: /*155px;*/20px;}
	.left-5, .left-10, .left-15 { margin-left: 0;} 
	#what_we_offer .offer_item_inner { display: none; position: relative; left: 0!important; top: 0; min-height: auto; margin-bottom: 20px; padding-bottom: 30px; border-bottom: 1px solid #D5D5D5;}
	#what_we_offer .offer_item_inner .breadcrumb { display: none;}
	#what_we_offer .offer_item_inner .tab_list ul li { float: none; height: auto;}
	#what_we_offer .offer_item_inner .tab_list ul li a { border-left: 1px solid transparent;}
	#what_we_offer .offer_item_inner .tab_panels .slider_item img { /*display: block; margin: 0 auto;*/ }
	#what_we_offer .sale_form { float: none; width: 100%; }
}
/*-----------------End What We Offer section-------------------*/

/*-----------------Documentation section-------------------*/
#documentation { padding: 91px 0 89px; text-align: center; background: #fff;}
#documentation h2 { margin-bottom: 32px; line-height: 1;}
#documentation .slider_docs { position: relative; width: 100%; margin-top: 30px; overflow: hidden;}
#documentation .slider_docs .slider_item { float: left; padding: 0 5px;}
#documentation p { margin-bottom: 0; padding: 6px 6px 6px 50px; text-align: left; font-size: 22px; color: #248037; background: url(../img/icon_document.png) left center no-repeat;}
@media (max-width: 800px){
	#documentation { padding: 58px 12px 26px;}
	#documentation h2 { padding: 0;}
	#documentation .container_inner { padding: 0 20px; }	
}
/*-----------------End Documentation section-------------------*/

/*-----------------Contacts section-------------------*/
#contacts { padding: 81px 0 64px; text-align: center; background: #FAFAFA;}
#contacts h2 { margin-bottom: 32px; line-height: 1;}
#contacts h2 + p { font-size: 20px; line-height: 32px;}
#contacts .container_inner.container_inner_contacts { margin-top: 27px;}
#contacts .contact_img { /*float: left; width: 25%;*/ margin-top: 27px; text-align: left;}
#contacts .contact_data { /*float: left; width: 35%;*/ margin-top: 27px; padding: 0 8px 0 28px;}
#contacts .contact_data p { margin: 12px 0; padding: 0 8px 0 8px; text-align: left; line-height: 1.3;}
#contacts .contact_data p span,
#contacts .contact_data p:first-child { font-size: 20px; font-weight: bold;}
#contacts .contact_data p a { color: #3B994E; -webkit-transition: opacity 0.3s ease; -moz-transition: opacity 0.3s ease; -o-transition: opacity 0.3s ease; transition: opacity 0.3s ease;}
#contacts .contact_data p a:hover,
#contacts .contact_data p a:active { opacity: 0.7; -webkit-transition: opacity 0.3s ease; -moz-transition: opacity 0.3s ease; -o-transition: opacity 0.3s ease; transition: opacity 0.3s ease;}
#contacts .contact_form { /*float: left; width: 40%;*/ margin-top: 27px; /*padding-left: 28px;*/}
#contacts .contact_form form input,
#contacts .contact_form form textarea { width: 100%; margin-bottom: 13px; padding: 11px 14px; border: 1px solid #CFCFCF; font: 20px/24px 'Open Sans', sans-serif;}
#contacts .contact_form form textarea { height: 184px; resize: none;}
#contacts .contact_form form input:focus,
#contacts .contact_form form textarea:focus { -webkit-box-shadow: 0px 0px 1px 1px #CFCFCF; -moz-box-shadow: 0px 0px 1px 1px #CFCFCF; box-shadow: 0px 0px 1px 1px #CFCFCF;}
#contacts .contact_form form input[type="submit"] { font-size: 22px; border: 1px solid #0D681F; color: #FFFFFF; background: #0D681F; -webkit-transition: background 0.3s ease; -moz-transition: background 0.3s ease; -o-transition: background 0.3s ease; transition: background 0.3s ease;}
#contacts .contact_form form input[type="submit"]:hover, 
#contacts .contact_form form input[type="submit"]:active { background: #045316; -webkit-transition: background 0.3s ease; -moz-transition: background 0.3s ease; -o-transition: background 0.3s ease; transition: background 0.3s ease;}
#contacts .contact_form form input::-webkit-input-placeholder,
#contacts .contact_form form textarea::-webkit-input-placeholder { color: #424242; opacity: 1; -webkit-transition: opacity 0.3s ease; transition: opacity 0.3s ease;}
#contacts .contact_form form input::-moz-placeholder,
#contacts .contact_form form textarea::-moz-placeholder { color: #424242; opacity: 1; -moz-transition: opacity 0.3s ease; transition: opacity 0.3s ease;}
#contacts .contact_form form input:-moz-placeholder,
#contacts .contact_form form textarea:-moz-placeholder { color: #424242; opacity: 1; -moz-transition: opacity 0.3s ease; transition: opacity 0.3s ease;}
#contacts .contact_form form input:-ms-input-placeholder,
#contacts .contact_form form textarea:-ms-input-placeholder { color: #424242; opacity: 1; -ms-transition: opacity 0.3s ease; transition: opacity 0.3s ease;}
#contacts .contact_form form input:focus::-webkit-input-placeholder,
#contacts .contact_form form textarea:focus::-webkit-input-placeholder { opacity: 0; -webkit-transition: opacity 0.3s ease; transition: opacity 0.3s ease;}
#contacts .contact_form form input:focus::-moz-placeholder,
#contacts .contact_form form textarea:focus::-moz-placeholder { opacity: 0; -moz-transition: opacity 0.3s ease; transition: opacity 0.3s ease;}
#contacts .contact_form form input:focus:-moz-placeholder,
#contacts .contact_form form textarea:focus:-moz-placeholder { opacity: 0; -moz-transition: opacity 0.3s ease; transition: opacity 0.3s ease;}
#contacts .contact_form form input:focus:-ms-input-placeholder,
#contacts .contact_form form textarea:focus:-ms-input-placeholder { opacity: 0; -ms-transition: opacity 0.3s ease; transition: opacity 0.3s ease;}
#contacts #contacts_form input.error,
#contacts #contacts_form textarea.error { border: 1px solid red;}
#contacts #contacts_form input:-webkit-autofill,
#contacts #contacts_form input:-webkit-autofill:hover,
#contacts #contacts_form input:-webkit-autofill:focus,
#contacts #contacts_form input:-webkit-autofill:active { background: transparent!important;} /*---Background input with autofill (like email or password input) to reset default---*/
@media (max-width: 800px){
	#contacts { padding: 58px 12px 46px;}
	#contacts .container_inner { padding: 0 20px; }
	#contacts p, #contacts h2 { padding: 0;}
	#contacts h2 + p { margin-bottom: 40px;}
	#contacts .contact_img { display: none;}
	#contacts .contact_data { float: none; width: 100%; padding: 0;}
	#contacts .contact_data p { text-align: center;}
	#contacts .contact_form { float: none; width: 100%; padding: 0;}
}
/*-----------------End Contacts section-------------------*/

/*-----------------Articles section-------------------*/
#articles { padding: 81px 0 37px; background: #fff;}
#articles h2 { margin-bottom: 34px; text-align: center; line-height: 1;}
#articles article { float: left; position: relative; width: 23.5%; height: 350px; margin-right: 2%; margin-bottom: 30px;}
#articles article .ajax-post,
#articles article .window-post { position: absolute; bottom: 5px; right: 5px; color: #424242; text-decoration: underline; font-size: 14px;}
#articles article:last-of-type { margin-right: 0;}
#articles article:nth-of-type(4n) { margin-right: 0;}
#articles article img { /*width: 100%;*/ max-width: 100%;}
#articles article h4 { margin: 12px 0 0;}
#articles article p { margin: 6px 0;}
#articles article p:last-child { margin-bottom: 6px; }
#articles .more_articles a { float: right; position: relative; padding-right: 25px; color: #3B994E; text-transform: uppercase;}
#articles .more_articles a i { position: absolute; right: 0; top: 4px;}
@media (max-width: 800px){
	#articles { padding: 58px 12px 46px;}
	#articles .container_inner { padding: 0 20px; }
	#articles article { float: none; width: 100%; height: auto; margin-bottom: 40px;}
	#articles article:after { content: ' '; display: block; clear: both;}
	#articles article img { /*float: left; max-width: 192px; margin-right: 12px;*/}
	#articles article .ajax-post,
	#articles article .window-post { position: static; }
	#articles .more_articles { width: 120px; margin: 0 auto;}
	#articles .more_articles a { float: none; padding-right: 0;}
	#articles .more_articles a i { display: none;}
}
/*-----------------End Articles section-------------------*/

/*-----------------Footer section-------------------*/
footer .main_footer { padding: 30px 0 21px; color: #fff; text-align: center; text-transform: uppercase; background: #AAAFAB;}
footer .main_footer p { margin: 0;}
@media (max-width: 800px){
	footer .main_footer { padding: 16px 0 15px;}
	footer .main_footer p { font-size: 14px; line-height: 14px;}
}
/*-----------------End Footer section-------------------*/

/*-----------------Message Box-------------------*/
.msg_box { position: fixed; right: 0; top: 200px; padding: 12px; }
.msg_box { 
	background: rgba(75,76,75,1);
	background: -moz-linear-gradient(45deg, rgba(75,76,75,1) 0%, rgba(122,124,121,1) 100%);
	background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(75,76,75,1)), color-stop(100%, rgba(122,124,121,1)));
	background: -webkit-linear-gradient(45deg, rgba(75,76,75,1) 0%, rgba(122,124,121,1) 100%);
	background: -o-linear-gradient(45deg, rgba(75,76,75,1) 0%, rgba(122,124,121,1) 100%);
	background: -ms-linear-gradient(45deg, rgba(75,76,75,1) 0%, rgba(122,124,121,1) 100%);
	background: linear-gradient(45deg, rgba(75,76,75,1) 0%, rgba(122,124,121,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b4c4b', endColorstr='#7a7c79', GradientType=1 );
}
.msg_box a { float: right; position: relative; display: inline-block; }
.msg_box .clear { content: ' '; display: block; clear: both; }
.msg_box a img {  vertical-align: bottom; }
.msg_box .contact_form { display: none; width: 312px; padding-top: 12px;}
.msg_box .contact_form form input,
.msg_box .contact_form form textarea { width: 100%; margin-bottom: 13px; padding: 11px 14px; border: 1px solid #CFCFCF; font: 20px/24px 'Open Sans', sans-serif;}
.msg_box .contact_form form textarea { height: 154px; resize: none;}
.msg_box .contact_form form input:focus,
.msg_box .contact_form form textarea:focus { -webkit-box-shadow: 0px 0px 1px 1px #CFCFCF; -moz-box-shadow: 0px 0px 1px 1px #CFCFCF; box-shadow: 0px 0px 1px 1px #CFCFCF;}
.msg_box .contact_form form input[type="submit"] { margin-bottom: 0; font-size: 22px; border: 1px solid #DDB32F; color: #FFFFFF; background: #DDB32F; -webkit-transition: background 0.3s ease; -moz-transition: background 0.3s ease; -o-transition: background 0.3s ease; transition: background 0.3s ease;}
.msg_box .contact_form form input[type="submit"]:hover, 
.msg_box .contact_form form input[type="submit"]:active { background: #B28F1D; -webkit-transition: background 0.3s ease; -moz-transition: background 0.3s ease; -o-transition: background 0.3s ease; transition: background 0.3s ease;}
.msg_box .contact_form form input::-webkit-input-placeholder,
.msg_box .contact_form form textarea::-webkit-input-placeholder { color: #424242; opacity: 1; -webkit-transition: opacity 0.3s ease; transition: opacity 0.3s ease;}
.msg_box .contact_form form input::-moz-placeholder,
.msg_box .contact_form form textarea::-moz-placeholder { color: #424242; opacity: 1; -moz-transition: opacity 0.3s ease; transition: opacity 0.3s ease;}
.msg_box .contact_form form input:-moz-placeholder,
.msg_box .contact_form form textarea:-moz-placeholder { color: #424242; opacity: 1; -moz-transition: opacity 0.3s ease; transition: opacity 0.3s ease;}
.msg_box .contact_form form input:-ms-input-placeholder,
.msg_box .contact_form form textarea:-ms-input-placeholder { color: #424242; opacity: 1; -ms-transition: opacity 0.3s ease; transition: opacity 0.3s ease;}
.msg_box .contact_form form input:focus::-webkit-input-placeholder,
.msg_box .contact_form form textarea:focus::-webkit-input-placeholder { opacity: 0; -webkit-transition: opacity 0.3s ease; transition: opacity 0.3s ease;}
.msg_box .contact_form form input:focus::-moz-placeholder,
.msg_box .contact_form form textarea:focus::-moz-placeholder { opacity: 0; -moz-transition: opacity 0.3s ease; transition: opacity 0.3s ease;}
.msg_box .contact_form form input:focus:-moz-placeholder,
.msg_box .contact_form form textarea:focus:-moz-placeholder { opacity: 0; -moz-transition: opacity 0.3s ease; transition: opacity 0.3s ease;}
.msg_box .contact_form form input:focus:-ms-input-placeholder,
.msg_box .contact_form form textarea:focus:-ms-input-placeholder { opacity: 0; -ms-transition: opacity 0.3s ease; transition: opacity 0.3s ease;}
.msg_box #msg_form input.error,
.msg_box #msg_form textarea.error { border: 1px solid red;}
@media (max-width: 336px) {
	.msg_box .contact_form { width: 100%; }
}
/*-----------------End Message Box-------------------*/

/*-----------------Articles Page-------------------*/
.articles_page { padding: 81px 0 67px; min-height: calc(100vh - 216px); background: #fff;}
.articles_page h2 { margin-bottom: 34px; text-align: center; line-height: 1; font-size: 24px;}
.articles_page article { float: left; width: 23.5%; height: 400px; margin-right: 2%; overflow: hidden;}
.articles_page article:last-of-type { margin-right: 0;}
.articles_page article:nth-of-type(4n) { margin-right: 0;}
.articles_page article img { /*width: 100%;*/ max-width: 100%;}
.articles_page article h4 { margin: 12px 0 0;}
.articles_page article h4 + p { margin: 6px 0 24px;}
@media (max-width: 800px){
	.articles_page { padding: 58px 12px 46px; min-height: calc(100vh - 109px);}
	.articles_page article { float: none; width: 100%; height: auto; margin-bottom: 30px;}
	.articles_page article:after { content: ' '; display: block; clear: both;}
	.articles_page article img { /*float: left;*/ /*max-width: 192px;*/ /*margin-right: 12px;*/}
}
/*-----------------End Articles Page-------------------*/

/*-----------------Single Article Page-------------------*/
.single_article { padding: 60px 0 60px; background: #fff; }
.single_article article { min-height: calc(100vh - 109px); text-align: center; }
.single_article article img { /*float: left;*/ display: block; padding: 0 20px 20px 40px; }
.single_article article h2 { margin-bottom: 20px; padding-left: 40px; text-align: left; }
.single_article article p { padding: 0 40px; text-align: left; }
.single_article article p.post_date span { padding-left: 10px; }
.single_article table { width: 100%; max-width: 560px; margin-left: 40px; text-align: left; border-collapse: collapse;}
.single_article td { padding-left: 12px; border: 1px solid #AAAFAB; }
.single_article article ul,
.single_article article li { list-style: disc; text-align: left;}
.single_article article ul { margin-left: 58px; }
@media (max-width: 800px){
	.single_article article { overflow-x: auto; }
	.single_article article img { /*float: none;*/ display: block; /*max-width: 90%;*/ padding: 0 20px; }
	.single_article article h2 { margin-bottom: 20px; padding-left: 20px; }
	.single_article article p { padding: 0 20px; }
	.single_article article ul { margin-left: 38px; }
	.single_article table,
	#ajax-response table { width: auto; margin: 0 20px;}
	.single_article td,
	#ajax-response td { font-size: 14px; }
}
/*-----------------End Single Article Page-------------------*/

/*-----------------Post popup-----------------------*/
.popup_post { display: none; position: fixed; top: 10%; bottom: 10%; left: 50%; width: 100%; max-width: 500px; height: auto; max-height:90%; padding: 40px; border-radius: 2px; -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,1); -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,1); box-shadow: 0px 0px 10px 0px rgba(0,0,0,1); z-index: 999; overflow-y: auto; background-color: #fff; -ms-transform: translate(-50%, 0); -webkit-transform: translate(-50%, 0); -o-transform: translate(-50%, 0); -moz-transform: translate(-50%, 0); transform: translate(-50%, 0);}
.popup_post>a.popup_close { position: absolute; top: 14px; right: 14px; width: 21px; height: 21px; line-height: 1; background-color: #AAAFAB;}
#wrapper { display: none; position: fixed; top: 0; height: 100%; bottom: 0; left: 0; right: 0; background: rgba(4,8,17,0.5); z-index: 101; overflow: hidden;}
a.sell {display: block;}
#ajax-response .entry-content { position: relative; }
#ajax-response .entry-content .window-post { position: absolute; right: 5px; color: #424242; text-decoration: underline; font-size: 14px;}
#ajax-response table { width: 100%; max-width: 560px; margin: 0; text-align: left; border-collapse: collapse;  overflow-x: auto;}
#ajax-response td { padding-left: 12px; border: 1px solid #AAAFAB; }
#ajax-response ul,
#ajax-response li { list-style: disc; text-align: left;}
#ajax-response ul { margin-left: 18px; }
@media (max-width: 800px){
	.popup_post { /*width: 100%; left: 0; margin-left: 0;*/ padding: 40px 20px;}
	#ajax-response table { width: auto; }
	#ajax-response td { font-size: 14px; }
}
/*-----------------End Post popup-----------------------*/

/*-----------------Sent message popup-----------------------*/
.popup { display: none; position: fixed; top: 40%; left: 50%; padding: 20px 40px; border-radius: 5px; -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,1); -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,1); box-shadow: 0px 0px 10px 0px rgba(0,0,0,1); z-index: 999; background-color: #fff; -ms-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); transform: translate(-50%, -50%);}
.popup>a.popup_close { position: absolute; top: 10px; right: 10px; width: 20px; height: 20px; line-height: 1.2; background-color: #AAAFAB;}
.popup p { font-size: 22px; }
/*-----------------End Sent message popup-----------------------*/

.error-404 { text-align: center; font-size: 32px; line-height: 1.2;}